body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'ChessFonts';
  src: url('./fonts/chess.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 600px) { /* Adjust the max-width as needed */
  .hide-on-mobile {
    display: none !important;
  }
}

.icon-font-chess.blitz:before,.icon-font-chess.lightning:before {
  content: "\1F1C"
}

.icon-font-chess.rapid:before,.icon-font-chess.rapid:before {
  content: "\1F1B"
}

.icon-font-chess.crossed-swords:before {
  content: "\03C4"
}

.icon-font-chess {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: ChessFonts !important;
  font-weight: 400;
  line-height: 1;
  text-align: center
}

.icon-font-chess.square-minus:before {
  content: "\1F02";
  color:red;
}


.square-plus {
  color: green
}

.icon-font-chess.square-plus:before {
  content: "\1F01";
  color: green
}

.icon-font-chess.square-equal:before {
  content: "\1F03";
  color:orange
}